<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PDF Generator</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="createPdf()" [formGroup]="myForm">
  <ion-item>
    <ion-label>Include Image</ion-label>
    <ion-checkbox formControlName="showLogo" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">From</ion-label>
    <ion-input formControlName="from"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">to</ion-label>
    <ion-input formControlName="to"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Body</ion-label>
    <ion-input formControlName="text"></ion-input>
  </ion-item>
  
  <ion-button expand="full" (click)="downloadPdf()" type="submit">Download PDF</ion-button>
  <ion-button expand="full" (click)="sharePdf()" type="submit">Share PDF</ion-button>



  </form>

  </ion-content>
